<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mybatis.mapper.UserMapper">
    <update id="createMessageTable" parameterType="String">
        CREATE TABLE IF NOT EXISTS message_${tableName} (
        `message_id` int(10) not null auto_increment,
        `message_content` varchar(255) not null,
        `message_type` int(2) not null,
        `message_creator` int(10) not null,
        `message_date`  date not null,
        `message_time` time not null,
        primary key(`message_id`)
        )engine=InnoDB default charset=utf8
    </update>
    <insert id="insertUserItem" parameterType="com.example.demo.pojo.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO `user`(
        `user_name`,`user_friends`,`friends_type`,`user_groups`,`group_type`
        )values(
        #{userName},#{userFriends},#{friendsType},#{userGroups},#{groupType}
        )
    </insert>
    <update id="createForFriends" parameterType="com.example.demo.pojo.expand.UserAndFriends">
        CREATE TABLE IF NOT EXISTS user_message_${userId}__${friendId}(
        message_id` int(10) not null auto_increment,
        `message_creator` int(10) not null,
        `message_content` varchar(255) not null,
        `message_type` int(2) not null,
        `message_date`  date not null,
        `message_time` time not null,
        primary key(`message_id`)
        )engine=InnoDB default charset=utf8
    </update>
    <select id="judgeForTable" parameterType="String" resultType="java.util.Map">
        show tables like #{tableName}
    </select>
    <insert id="insertUserMessage" parameterType="com.example.demo.pojo.expand.UserMessage" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO ${tableName}(
        `message_content`, `message_type`,`message_creator`,`message_date`,`message_time`
        )VALUES (
        #{messageContent},#{messageType},#{messageCreator},#{messageDate},#{messageTime}
        )
    </insert>
</mapper>

